
/* ~~~~~~~ GLOBAL RULES ~~~~~~~ */

* {
  border: 1px solid aquamarine;
  padding: 0px;
  margin: 0px;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 150%;
}

/* ~~~~~~~ NAV RULES ~~~~~~~ */

.nav-bar {
  display: flex;
  justify-content: space-between;
  height: 15%;
  background-color: #293241;
  color: white;
}

.nav-bar-links {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 50%;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}

.nav-bar-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
}

.admin-username {
  font-family: 'Open Sans', sans-serif;
  margin-left: 65px;
}


/* ~~~~~~~ MAIN RULES ~~~~~~~ */

.main-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
  background-color: #98c1d9;
}

.main-section-shares {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 10%;
}

.main-section-header {
  font-family: 'Raleway', sans-serif;
  font-style:italic;
  font-size: 30px;
  margin-left: 10px;
}

/* ~~~~~~~ GRID RULES ~~~~~~~ */

.grid-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: scroll;
  grid-gap: 20px;
  padding: 20px;
  height: 100%;
}

/* ~~~~~~~ GRID CARD RULES ~~~~~~~ */

.grid-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: #e0fbfc;
}

.grid-card-img {
  height: 30%;
  background-color: #ee6c4d;
}

.grid-card-URL {
  height: 12%;
  width: 90%;
  margin-left: 10px;
  background-color: #3d5a80;
}

