
/* ~~~~~~~ GLOBAL RULES ~~~~~~~ */

* {
  border: 1px solid aquamarine;
  padding: 0px;
  margin: 0px;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 150%;
}

/* ~~~~~~~ NAV RULES ~~~~~~~ */

.nav-bar {
  display: flex;
  justify-content: space-between;
  height: 10%;
}

.nav-bar-links {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 50%;
}

.nav-bar-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


/* ~~~~~~~ MAIN RULES ~~~~~~~ */

.main-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
}

.main-section-shares {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 10%;
}

/* ~~~~~~~ GRID RULES ~~~~~~~ */

.grid-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: scroll;
  grid-gap: 20px;
  padding: 20px;
  height: 100%;
}

.grid-card {
  height: 100%;
  background-color: cadetblue;
}

